<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- <link rel="icon" href="images/WebsiteLogo.svg" type="image/icon type"> adds logo title -->
        <title>Uhome | Listings</title>
        
        <link rel="stylesheet" href="../bs/css/bootstrap.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="../bs/css/custom.css" rel="stylesheet">

        <script src="../bs/js/bootstrap.bundle.js"></script>
    </head>

    <body>
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand p-3" href="javascript:void(0)">Logo</a>
                
                <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Search">
                    <button class="btn btn-primary" type="button">Search</button>
                </form>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse me-auto" id="mynavbar">
                    <ul class="navbar-nav me-5">
                        <li class="nav-item">
                            <!-- Dropdown to decide betwwen houses/basement/apartments -->
                            <a class="nav-link" href="javascript:void(0)">Rent</a>
                        </li>
                        <li class="nav-item">
                            <!-- Needed links for rental information -->
                            <a class="nav-link" href="javascript:void(0)">Mortgage</a>
                        </li>
                        <li class="nav-item">
                            <!-- Page that has all of users' favourites -->
                            <a class="nav-link" href="javascript:void(0)">Favourites</a>
                        </li>
                        <li class="nav-item">
                            <!-- Needed links for rental information -->
                            <a class="nav-link" href="javascript:void(0)">UTM</a>
                        </li>
                    </ul>
                </div>

                <button type="button" class="btn btn-primary btn-md">My Account</button>
                
              </div>
        </nav>

        <!-- Lisitngs as Cards -->
        <div class="container mt-4">
            <div class="row">

                <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lisitng #1</h4>
                            <p class="card-text">Lorem ipsum</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lisitng #2</h4>
                            <p class="card-text">Lorem ipsum</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lisitng #3</h4>
                            <p class="card-text">Lorem ipsum</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lisitng #4</h4>
                            <p class="card-text">Lorem ipsum</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lisitng #5</h4>
                            <p class="card-text">Lorem ipsum</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lisitng #6</h4>
                            <p class="card-text">Lorem ipsum</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lisitng #7</h4>
                            <p class="card-text">Lorem ipsum</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lisitng #8</h4>
                            <p class="card-text">Lorem ipsum</p>
                        </div>
                    </div> 
                </div>

            </div>
        </div>

        <!-- Footer -->
        <footer class="mt-5 mb-2 bg-primary container-fluid">
            <!-- socials -->
            <div class="container-fluid mt-2 mx-lg-auto bg-primary"> 
                <h4>Follow Uhome</h4>
            </div>
        </footer>
    </body>
</html>