<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- <link rel="icon" href="images/WebsiteLogo.svg" type="image/icon type"> adds logo title -->
        <title>Uhome | Listings</title>
        
        <link rel="stylesheet" href="../bs/css/bootstrap.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="../bs/css/custom.css" rel="stylesheet">

        <script src="../bs/js/bootstrap.bundle.js"></script>
    </head>

    <body>
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">

                <a class="navbar-brand p-4" href="javascript:void(0)">Uhome</a>
                
                <form class="d-flex align-items-center">
                    <input class="form-control me-2" type="text" placeholder="Search">
                    <button class="btn btn-primary" type="button">Search</button>
                </form>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
                    <ul class="navbar-nav me-5">
                        <li class="nav-item m-2">
                            <!-- Sign in/Already Signed In -->
                            <a class="nav-link" href="javascript:void(0)"><button class="btn btn-primary mt-2">My Account</button></a>
                        </li>
                        <li class="nav-item m-2">
                            <!-- Ask me chat -->
                            <a class="nav-link" href="javascript:void(0)"><button class="btn btn-primary mt-2">Ask</button></a>
                        </li>
                        <li class="nav-item m-2">
                            <!-- Needed links for rental information -->
                            <a class="nav-link" href="javascript:void(0)"><button class="btn btn-primary mt-2">Rental Information</button></a>
                        </li>
                        <li class="nav-item m-2">
                            <!-- Page that has all of users' favourites -->
                            <a class="nav-link" href="javascript:void(0)"><button class="btn btn-primary mt-2">Favourites</button></a>
                        </li>
                        <li class="nav-item m-2">
                            <!-- Needed links for rental information -->
                            <a class="nav-link" href="javascript:void(0)"><button class="btn btn-primary mt-2">UTM</button></a>
                        </li>
                        
                    </ul>
                </div>

            </div>

        </nav>

        <!-- Lisitings as Cards -->
        <div class="container mt-4">
            <div class="row">

                <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lisiting #1</h4>
                            <p class="card-text">Lorem ipsum</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lisiting #2</h4>
                            <p class="card-text">Lorem ipsum</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lisiting #3</h4>
                            <p class="card-text">Lorem ipsum</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lisiting #4</h4>
                            <p class="card-text">Lorem ipsum</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lisiting #5</h4>
                            <p class="card-text">Lorem ipsum</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lisiting #6</h4>
                            <p class="card-text">Lorem ipsum</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lisiting #7</h4>
                            <p class="card-text">Lorem ipsum</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lisiting #8</h4>
                            <p class="card-text">Lorem ipsum</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lisiting #9</h4>
                            <p class="card-text">Lorem ipsum</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lisiting #10</h4>
                            <p class="card-text">Lorem ipsum</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lisiting #11</h4>
                            <p class="card-text">Lorem ipsum</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lisiting #12</h4>
                            <p class="card-text">Lorem ipsum</p>
                        </div>
                    </div> 
                </div>

            </div>
        </div>

        <!-- spotlight Talk about Uhome-->
        <div class="container mt-5">
            <div class="text-wrap py-4 px-4">
                <h3>Uhome</h3>
                <h4>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet commodo nulla facilisi nullam vehicula ipsum. Id volutpat lacus laoreet non curabitur gravida. Viverra adipiscing at in tellus integer feugiat scelerisque. Nam at lectus urna duis. Sit amet justo donec enim diam vulputate ut pharetra. Urna nunc id cursus metus aliquam eleifend mi. Pharetra magna ac placerat vestibulum lectus. Elementum integer enim neque volutpat ac. Gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Gravida neque convallis a cras semper auctor neque. Nec sagittis aliquam malesuada bibendum arcu. Augue ut lectus arcu bibendum at varius vel. Pharetra vel turpis nunc eget. Commodo quis imperdiet massa tincidunt. Volutpat blandit aliquam etiam erat velit scelerisque in dictum. Venenatis cras sed felis eget.
                </h4>
            </div>
        </div>


        <!-- Footer -->
        <footer class="mt-5 bg-primary">
            
            <div class="container row px-4 py-4">
                <section class="col-md-6 col-sm-12 px-2">
                    <h5>Privacy&Terms</h5>
                </section>
                
                <section class="col-md-6 col-sm-12 px-2">
                    <h5>Contact</h5>
                </section>
            </div>
            
            <!-- socials -->
            <div class="mt-2 bg-utm-dark-blue container-fluid py-3"> 
                <section class="align-content-center text-center py-2">
                    <h4>Follow Uhome</h4>
                    <ul class="list-unstyled">
                        <li class="list-inline-item">Instagram</li>
                        <li class="list-inline-item">Twitter</li>
                        <li class="list-inline-item">YouTube</li>
                        <li class="list-inline-item">More Social Media</li>
                    </ul>
                </section>
            </div>
        </footer>
    </body>
</html>