:root{
  --heading-font: 'Playfair Display', serif;
  --sub-heading-font: 'Poppins', sans-serif;
  --utm-main-blue: #002a5c;
  --utm-secondary-blue: #337ab7;
  --utm-dark-blue: #001228;
=======
@font-face {
  font-family: 'TradeGothic Bold';
  src: local('TradeGothic Bold'), url('../fonts/TradeGothic Bold.ttf') format('ttf');
}

.brand-text {
  font-family: 'TradeGothic Bold';
  font-size: 50px;
}

.brand-logo {
  height: auto;
}

.auth-links {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Adjust the space between the links */
  }
  
  .sign-in-link, .log-in-link {
    margin-right: 0; /* Remove any existing right margin */
    padding: 10px 20px; /* Adjust padding, if necessary */
    /* Add any other shared styles here */
  }

.bg-primary{
    background-color: var(--utm-main-blue) !important;
}

.bg-secondary {
    background-color: var(--utm-secondary-blue) !important;
}

.bg-utm-dark-blue{
    background-color: var(--utm-dark-blue);
}

.nav-fill:hover {
  padding: 40px;
  font-weight: 600;
  border: solid var(--utm-secondary-blue) 2px;
  border-radius: 10px;
}